/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=REM:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');

/* Main CSS */
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(106,106,107);
    background: linear-gradient(45deg, rgba(0,206,255,1) 50%, rgba(106,106,107,1) 50%);
}
.list h1{
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: shakeHeading;
    animation-timing-function: ease;
}

@keyframes shakeHeading{
    0% { transform: rotate(0deg); }
    10% { transform: rotate(1deg); }
    25% { transform: rotate(3deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(0deg); }
    60% { transform: rotate(-1deg); }
    75% { transform: rotate(-3deg); }
    90% { transform: rotate(-1deg); }
    100% { transform: rotate(0deg); }
}
.list{
    height: auto;
    min-width: 350px;
    max-width: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
    position: relative;
}
#input{
    height: 50px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #808080;
    border-radius: 10px;
    color: #fff;
    padding: 0 20px;
    margin: 10px 0;
    font-family: 'Rubik', sans-serif;
    cursor: default;
    
}
#input::placeholder{
    color: #fff;
    font-family: 'Rubik', sans-serif;
}
.list ol {
    list-style-position: inside; 
    padding-left: 20px; 
    font-family: 'REM', sans-serif;
}
.list ol li{
    position: relative;
    left: -10px;
    background-color: #dfdfdf;
    color: #333;
    height: 40px;
    width: auto;
    border-radius: 60px;
    margin: 10px 0;
    vertical-align: middle;
    padding: 10px 100px 10px 10px;
}
.list button{
    display: block;
    align-items: center;
    width: 160px;
    padding: 10px 11px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
    color: #c0111f;
    background-color: #f78d96;
    font-family: 'Rubik', sans-serif;
    margin: 19px auto 0;
    transition: 0.3s;
}
.list button:hover{
    transform: scale(1.1);
}
.list ol .fa-check, .fa-pen, .fa-trash{
    position: absolute;
    cursor: pointer;
}
.list ol .fa-check{
    right: 80px;
    color: green;
}
.list ol .fa-check:hover{
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    30%  { transform: scale(.9,1.1) translateY(-7px); }
    50%  { transform: scale(1,1)    translateY(0); }
    57%  { transform: scale(1,1)    translateY(-4px); }
    64%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
.list ol .fa-pen{
    right: 50px;
    color: #000;
}
.list ol .fa-pen:hover{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: movePen;
    animation-timing-function: ease;
}
@keyframes movePen {
    0% { transform: rotateZ(0deg); }
    50% { transform: rotateZ(10deg); }
    100% { transform: rotateZ(0deg); }
}
.list ol .fa-trash{
    right: 20px;
    color: red;
}
.list ol .fa-trash:hover{
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-name: shake;
    animation-timing-function: ease;
}
@keyframes shake{
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}
.list .checked{
    background-color: lightgreen;
    text-decoration: line-through;
    transition: 0.4s;
}
.add{
    width: 100%;
    border: none;
    outline: none;
    background-color: #bce5d3;
    border-radius: 10px;
    color: #0daa61;
    padding: 10px 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.remove{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #c0111f;
    background-color: #f78d96;
    padding: 10px 20px;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
/* Responsive */
@media only screen and (max-width: 450px){
	.list{
        min-width: 300px;
    }
    .list ol {
        font-size: 15px;
     }
}
@media only screen and (max-width: 400px){
	.list{
        min-width: 250px;
    }
    .list ol {
       font-size: 13px;
    }
}
@media only screen and (max-width: 350px){
	.list{
        min-width: 200px;
    }
    .list ol {
       font-size: 13px;
    }
}
@media only screen and (max-width: 300px){
	.list{
        min-width: 100px;
    }
    .list ol {
       font-size: 12px;
    }
    
}



